body {
    background-color: rgb(75, 75, 163);
    min-width: fit-content;
    padding-left: 20px;
    padding-right: 20px;

}

.headerAndImg {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'creepster';
    font-size: 64px;
    line-height: 1.1;
    background: linear-gradient(to bottom, lightgreen, darkgreen);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; 
    -webkit-text-stroke: 2px rgb(5, 3, 89);
    margin-bottom: 5px;
}

.h1Andh6 {
    display: flex;
    flex-direction: column;
}

h6 {
    font-family: 'creepster';
    font-size: 44px;
    line-height: 1.1;
    background: linear-gradient(to bottom, lightgreen, darkgreen);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; 
    -webkit-text-stroke: 2px rgb(5, 3, 89);
    margin: 5px;
    
}


iFrame {
    border: 0px
}

.selectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.selects {
    display: flex;
    flex-direction: column;
    color: black;
}

label {
    text-align: left;
    font-family: 'fantasy', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 26px;
    width: 200px;
    text-shadow: 1px 1px 2px rgba(155, 151, 151, 0.486); 
}

.labelAndSelect {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

select {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

select:focus {
    border: 2px solid rgb(0, 123, 255);
    box-shadow: 1px 1px 20px rgb(0, 123, 255);
}


.charactersWrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}


.imgAndName {
    background-color: beige;
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    min-width: min-content;
    max-width: 150px; 
    min-width: 150px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 1px 2px 0 rgba(0, 0, 0, 0.24);  
}

.img {
    width: 150px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 1px 2px 0 rgba(0, 0, 0, 0.24);  
}

p {
    margin: 0px;
    font-family: 'creepster';
    font-size: 32px;
    background: linear-gradient(to bottom, lightgreen, darkgreen);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; 
    -webkit-text-stroke: 0.5px rgb(5, 3, 89);
    max-width: 150px;
    word-wrap: break-word;
}


@media screen and (min-width: 490px) {
    .selects {
        flex-direction: row;
    }

    .labelAndSelect {
        flex-direction: column;
    }

}


@media screen and (min-width: 890px) {
    .selects {
        flex-direction: row;
    }

    .labelAndSelect {
        flex-direction: column;
    }

    .headerAndImg {
        display: flex;
        flex-direction: row;
    }

}